@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #424A51;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.left-email-menu{
	padding-top: 75px ;
	background-color: #0aa699;
	width:50px;
	height: 100%;
	li{
		line-height: 53px !important;
	height:100%;
		a{
			padding: 16px 13px 16px 7px;
			color:white !important;
			i{
				font-size: 17px;
			}
		}
		a:hover{
			background-color: #0b9c8f;

		}
		padding: 0px !important;
	}
}
.right-email-menu{
	font-family: 'Open Sans';
	padding-top: 80px;
	.compose{
		a{
			color:white;
			background-color: #0aa699;
			padding: 9px 40px;
			font-size: 14px;
		  transition: all 0.12s linear 0s!important;
			font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
			border-radius: 3px;
			span{
				font-weight: bold;
			}
		}
		a:hover{
			background-color: #099a8c;
			text-decoration: none;
		}
	}
	.email-menu-content{
		margin-top: 50px;
		span{
			position: relative;
			color: white;
			font-size: 12px;
			background-color: #F35958;
			padding: 2px 7px;
			border-radius: 50%;
			font-weight: bold;
		}
		.gray{
			background-color: #2A2E36;
			color:#8b91a0;
		}
			h6{
				padding-left: 81px;
				padding-top: 25px;
			}
			ul:nth-child(2){
				li{
						font-size: 18px;
						font-weight: 400;
						font-family: 'Open Sans';
				}
				li:hover{
					background-color: #22262e;
				}
			}
			ul:nth-child(3){
				font-weight: 400;
			}
			ul:nth-child(5){
				font-style: 14px;
				color:#8b91a0;
				font-family: 'Open Sans';
				font-weight: 400;
				li:hover{
					background-color: #22262e;
				}
			}
	}
}
#main-content{
	.content{
		padding-top: 25px !important;
	}
//	height:700px;
	position: relative;
	.mail-body{
		font-family: 'Open Sans';
		position:relative;;
		height: 100%;
		width: 100%;
		padding: 1px 26px;
		background-color: white;
		color: #505458;
		.mail-content{
			padding-left: 0px;
			padding-right:0px;
			color:#95989a;

			tbody{

					td:first-child{
						border-radius:4px;
					}
					td:last-child{
						border-bottom-right-radius: 4px;
						border-top-right-radius: 4px;
					}
					td:nth-child(3){
						color: black;

					}
						td:nth-child(4){
						width: 100%;

						}
					tr:nth-child(odd){
						background-color: #f9f9f9;
					}
					tr:hover{
				 background-color:#f5f5f5 ;
				cursor:pointer;
			}
			 		td{
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
			 			font-size: 13px;
			 			padding:10px 12px 30px 12px !important;
			 			.star{
			 				display: inline;
							label{
								margin-bottom: 16px;
							}
			 				label:before {
			 					cursor: pointer;
							    font-family: 'FontAwesome';
							    content: "\F005";
							    position:absolute;
									left: 40px;

							    font-size: 18px !important;
							    color: #97a3b3;
							    transition: border 0.2s linear 0s,color 0.2s linear 0s;
							}
			 			}
			 			.star input:checked+label:before {
						    color: #ffd200;
						}
			 		}

			 	}
		}
		.mail-head{
			h2{ margin-bottom: 30px;
				font-weight: 300;
				color: #505458;
		 	}
		 	.dropdown{
        margin-left: 10px;
        margin-top:27px;

		 		display: inline-block;
		 		button{
          border-color:#ccc !important;
		 			padding: 1px 9px;
		 		}
		 	}
		 	.mail-pages-info{
		 		color: #6f7b8a;
		 		margin-top: 30px;

        }
		 		margin-bottom: 13px;
		 		font-size: 12px;
		 		border-right: 1px solid #CECED7;
		 		padding-right: 5px;
		 	}
		 	.mail-pages{
        .pagination{
          margin:0px;
          margin-top: 23px;
          li{
            a{
              border:none !important;
              color:#6F7B8A;
            }
            span{
              color:#6F7B8A;
              border:none !important;
            }
          }
          .active{
            span{
              font-weight: 600;
              color:#6F7B8A;
              background-color: #F3F6F9 ;
              padding: 5px 10px;
              border-radius: 3px;
              border:none;
            }
            li{
              a{
                border:none;
                color:#6F7B8A   ;
                padding: 5px 10px !important;
              }
            }
          }

		 	}


		}
	}
}
.mail-compose{
	padding:1px 26px;
	display:block;
	background-color: white;
	h2{
	font-family: 'Open Sans';
	font-weight: 300;
	color: #505458;
	font-size:30px;
	}
	.form-label{
		color: #55606e;
		margin-right: 8px;
	}
	.help{
		color:#A7ABB1;
		font-size: 12px;
		font-family: 'Open Sans';
	}
	input, textarea{
		border-radius: 0px;
		box-shadow:none;
		border-color:#e5e9ec;
		transition: all 0.2s linear 0s,box-shadow 0.2s linear 0s;
	}
	input:focus, textarea:focus{
		border-color: #f1f1f1;
		background-color:#f4f5f7;
		box-shadow:none;
	}
	.send{
    position: fixed;
    right: 0;
    bottom:0;
    background-color:white;
    margin-left: 250px;
    width: 100%;
    padding:30px 40px;
    padding-bottom: 70px;
    padding-right:35px;
    border-top: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.08);
		input{
			color: white;
			padding: 7px 45px;
			padding-bottom: 9px;
			background-color:#f35958;
			font-size: 14px;
			box-shadow:none;
			border-radius: 3px;
			border:none;
			position:absolute;
			right: 160px;
		}
		 button{
		 	position:absolute;
			right: 30px;
			padding: 7px 45px;
			background-color: white;
			color:#5e5e5e;
			border: 1px solid #e5e9ec;
		 }
	}
.chat-input:hover{
background-color: none;
}

}
